body {
	background-color: #023047;
}

.container {
	width: 100%;
	display: grid;
	place-items: center;
	height: 95vh;
	place-content: center;
	color: white;
}

.container h1 {
	font-size: 3rem;
}
.container button {
	font-size: 1.5rem;
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	background-color: #1e6091;
	color: white;
	cursor: pointer;
}
.container button:hover {
	background-color: #368aca;
}
.container button:active {
	transition: background-color 0.2s;
}
